@import '../../../Assets/Sass/Veriables.scss';

.language{
    .select{
        background-color: transparent;
        border: transparent;
        color: $black;
        option{
            background-color: $bc;
            color: $black;
        }
    }
}